body {
    font-family: 'Lato', sans-serif;
    background-color: #F9F5E9 !important;
}
body h2 {
    color: #5A5A5A;
    font-style: italic;
}
.nav li a {
    font-size: 20px;
    color:white;
    margin-top: 28px;
    padding-left: 30px;
}

#links a
{
    color:white;
}

#wrapper
{
    padding-left:10%;
    padding-right:10%;
}

.navbar-right {
    padding: 32px;
    font-size: 17px;
}
.navbar {
    background-color: #1BBC9B !important;
    border-bottom: 34px solid #BEBEBE;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 1.1);
}
#motto {
    font-family: 'Lato', sans-serif;
    color: #5A5A5A;
    margin: -70px 0px 45px 22px;
    font-style: italic;
    color:white;
}
.col-center {
    float: none;
    margin: 0 auto;
}
.btn{
    
}
footer {
    height: 180px;
    width: 100%;
    background-color: #36A2DC;
}

// 
body {
  font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif;
  padding:10px;
}
 
h1 {
  margin-top:0;
}
 
#main {
  width: 300px;
  margin:auto;
  background: #ececec;
  padding: 20px;
  border: 1px solid #ccc;
}
 
#image-list {
  list-style:none;
  margin:0;
  padding:0;
}
#image-list li {
  background: #fff;
  border: 1px solid #ccc;
  text-align:center;
  padding:20px;
  margin-bottom:19px;
}
#image-list li img {
  width: 258px;
  vertical-align: middle;
  border:1px solid #474747;
}
#lcontent {
    float: left;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    height: 375px;
    margin-left: 177px;
    margin-bottom: 100px;
    margin-top: 85px;
}
#rcontent {
    float: right;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    width: 350px;
    height: 350px;
    
    margin-right: 175px;
    margin-bottom: 100px;
    margin-top: 85px;
}
#title{
    color:white;
}